{% extends 'base.html.twig' %}

{% block page_title %}{{ 'solicitudes.recibidas.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <p>{{ 'solicitudes.recibidas.descripcion'|trans({}, 'commiunities') }}</p>
            <p>&nbsp;</p>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'solicitudes.tabla.comunidad'|trans({}, 'commiunities') }}</th>
                <th>{{ 'solicitudes.tabla.usuario'|trans({}, 'commiunities') }}</th>
                <th>{{ 'solicitudes.tabla.estatus'|trans({}, 'commiunities') }}</th>
                <th>{{ 'solicitudes.tabla.fecha_solicitud'|trans({}, 'commiunities') }}</th>
                <th>{{ 'solicitudes.tabla.fecha_aprobacion'|trans({}, 'commiunities') }}</th>
                <th>{{ 'solicitudes.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.comunidad.nombre }}</td>
                    <td>{{ solicitud.usuario.username }}</td>
                    <td>
                        {% if solicitud.estatus == 'A' %} 
                            {{ 'solicitudes.estatus.aprobada'|trans({}, 'commiunities') }}
                        {% elseif solicitud.estatus == 'N' %}  
                            {{ 'solicitudes.estatus.negada'|trans({}, 'commiunities') }}
                        {% elseif solicitud.estatus == 'P' %}  
                            {{ 'solicitudes.estatus.pendiente'|trans({}, 'commiunities') }}
                        {% endif %}   
                    </td>
                    <td>{{ solicitud.fechaSolicitud|date('d-m-Y H:i a') }}</td>
                    <td>
                        {% if solicitud.fechaAprobacion is not null %}
                            {{ solicitud.fechaAprobacion|date('d-m-Y h:i a') }}
                        {% endif %}   
                    </td>   
                    <td>
                        {% if solicitud.estatus == 'P' and solicitud.fechaAprobacion is null %}
                            <a href="{{ path('vinculo_gestion', { 'id': solicitud.id, 'a': 'a' }) }}" onclick="return confirm(' {{ 'botones.confirmar_aprobar'|trans({}, 'commiunities') }} ');"><span class="glyphicon glyphicon-ok"></span> {{ 'botones.aprobar'|trans({}, 'commiunities') }}</a>
                            <br/>
                            <a href="{{ path('vinculo_gestion', { 'id': solicitud.id, 'a': 'n' }) }}" onclick="return confirm(' {{ 'botones.confirmar_negar'|trans({}, 'commiunities') }} ');"><span class="glyphicon glyphicon-remove"></span> {{ 'botones.negar'|trans({}, 'commiunities') }}</a>
                        {% endif %}     
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

    <div class="clearfix"></div>

{% endblock %}
