{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            {{ 'footer.texto'|trans({}, 'commiunities') }}
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}