<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-american-sign-language-interpreting"></i> <span>Commiunities</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">                
                {% if app.user.foto is null or app.user.foto is empty %}
                    <img src="{{ asset('assets/images/user.png') }}" class="img-circle profile_img">
                {% else %} 
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" class="img-circle profile_img">
                {% endif %}                 
            </div>
            <div class="profile_info">
                <span>{{ 'sidebar.bienvenido'|trans({}, 'commiunities') }},</span>
                {% if app.user.nombre is null %}                   
                    <h2>{{ app.user.username|default('') }}</h2>                
                {% else %}
                    <h2>{{ app.user.nombre|default('') }}</h2>  
                {% endif %}                  
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{{ 'menu.principal'|trans({}, 'commiunities') }}</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> {{ 'menu.opciones.comunidades.titulo'|trans({}, 'commiunities') }} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('comunidad_index') }}">{{ 'menu.opciones.comunidades.gestion'|trans({}, 'commiunities') }}</a></li>
                            <li><a href="{{ path('miscomunidades_index') }}">{{ 'menu.opciones.comunidades.mis'|trans({}, 'commiunities') }}</a></li>
                        </ul>
                    </li>
                </ul>   
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-object-ungroup"></i> {{ 'menu.opciones.equipos.titulo'|trans({}, 'commiunities') }} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('equipo_index') }}">{{ 'menu.opciones.equipos.gestion'|trans({}, 'commiunities') }}</a></li>
                            <li><a href="{{ path('equipamiento_index') }}">{{ 'menu.opciones.equipos.equipar'|trans({}, 'commiunities') }}</a></li>
                        </ul>
                    </li>
                </ul> 
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-folder-open"></i> {{ 'menu.general.solicitudes.titulo'|trans({}, 'commiunities') }} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('missolicitudes_index') }}">{{ 'menu.general.solicitudes.mis'|trans({}, 'commiunities') }}</a></li>
                            <li><a href="{{ path('recibidas_index') }}">{{ 'menu.general.solicitudes.recibidas'|trans({}, 'commiunities') }}</a></li>
                        </ul>
                    </li>
                </ul> 
                <ul class="nav side-menu">
                    <li><a href="{{ path('reserva_index') }}"><i class="fa fa-calendar"></i> {{ 'menu.opciones.reservas.misreservas'|trans({}, 'commiunities') }}</a></li>
                </ul>  
            </div>
            <div class="menu_section">
                <h3>{{ 'menu.general.titulo'|trans({}, 'commiunities') }}</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-map-marker"></i> {{ 'menu.general.mapa'|trans({}, 'commiunities') }}</a></li>
                </ul>   
            </div>  

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Salir" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>