<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% if app.user.foto is null or app.user.foto is empty %}
                        <img src="{{ asset('assets/images/user.png') }}">
                        {% else %} 
                        <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}">
                        {% endif %}                            
                        {{ app.user.username|default('') }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{{ path('fos_user_profile_show') }}"> {{ 'profile.show.profile'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> {{ 'topnav.salir'|trans({}, 'commiunities') }}</a></li>
                    </ul>
                </li>
                
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="badge bg-green">{% if app.user.genero is null %}1{% endif %}</span>
                    </a>
                    {% if app.user.genero is null %}
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <span class="image">
                                        {% if app.user.foto is null or app.user.foto is empty %}
                                            <img src="{{ asset('assets/images/user.png') }}">
                                        {% else %} 
                                            <img src="{{ vich_uploader_asset(app.user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}">
                                        {% endif %}                            
                                        {{ app.user.username|default('') }}                                    
                                    </span>
                                    <span>
                                        <span></span>
                                        <span class="time"></span>
                                    </span>
                                    <span class="message">
                                        {{ 'notificaciones.perfil.bienvenido'|trans({}, 'commiunities') }}
                                        <br/>
                                        {{ 'notificaciones.perfil.finalidad'|trans({}, 'commiunities') }}
                                        <br/>
                                        {{ 'notificaciones.perfil.crear'|trans({}, 'commiunities') }}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}  
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->