<div class="fos_user_user_show">
    <br/>
   
    <table class="table table-hover">
        <tbody>
            <tr>
                <th width="20%">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</th>
                <td width="80%">{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.email }}</td>
            </tr>            
            <tr>
                <th>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.apellido }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.telephone'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.telefono }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.gender'|trans({}, 'FOSUserBundle') }}</th>
                {% if user.genero is not null %}
               
                    {% if user.genero == 'M' %}
                    <td>{{ 'profile.show.female'|trans({}, 'FOSUserBundle') }}</td>
                    {% elseif user.genero == 'H' %}
                    <td>{{ 'profile.show.male'|trans({}, 'FOSUserBundle') }}</td>
                    {% endif %}    
                
                {% else %} 
                <td></td>    
                {% endif %}   
            </tr>            
            <tr>
                <th>{{ 'profile.show.dateofbirth'|trans({}, 'FOSUserBundle') }}</th>
                {% if user.fechanacimiento is not null %}
                <td>{{ user.fechanacimiento|date('d-m-Y') }}</td>
                {% else %} 
                <td></td>   
                {% endif %}
            </tr>            
            <tr>
                <th>{{ 'profile.show.picture'|trans({}, 'FOSUserBundle') }}</th>
                {% if user.foto is not null %}
                <td>
                    <a href="{{ vich_uploader_asset(user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" target="_blank">
                        <img src="{{ vich_uploader_asset(user, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" width="100" />
                    </a>
                </td>
                {% else %}                    
                <td>
                    [{{ 'profile.show.nopicture'|trans({}, 'FOSUserBundle') }}]
                </td>  
                {% endif %}
            </tr>
        </tbody>
    </table>
    
    {% if user.direccion is not null %}
    <h4>{{ 'direccion.titulo'|trans({}, 'commiunities') }}</h4> 
             
    <table class="table table-hover"> 
        <tbody> 
            <tr> 
                <th width="20%">{{ 'direccion.calle'|trans({}, 'commiunities') }}</th> 
                <td width="80%">{{ user.direccion.calle }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.numero'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.numero }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.piso'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.piso }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.puerta'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.puerta }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.codigopostal'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.codigoPostal }}</td> 
            </tr>             
            <tr> 
                <th>{{ 'direccion.pais'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.pais|country}}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.ciudad'|trans({}, 'commiunities') }}</th> 
                <td>{{ user.direccion.ciudad }}</td> 
            </tr> 
        </tbody> 
    </table> 
    {% endif %}
    
</div>
<div>       
    <a href="{{ path('fos_user_profile_edit') }}"><input type="button" value=" {{ 'profile.edit.button'|trans({}, 'FOSUserBundle') }} "></a>
    <a href="{{ path('fos_user_change_password') }}"><input type="button" value=" {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }} "></a>
</div>
