{% extends 'base.html.twig' %}

{% block page_title %}{{ 'profile.edit.button'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block body %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}  
{% endblock %}