{% extends 'base.html.twig' %}

{% block page_title %}{{ 'error.crearcomunidad.titulo'|trans({}, 'commiunities')|upper }}{% endblock %}

{% block body %}

    <h4>{{ 'error.crearcomunidad.texto'|trans({}, 'commiunities') }} <a href="{{ path('comunidad_new') }}">{{ 'error.crearcomunidad.aqui'|trans({}, 'commiunities') }}</a></h4>

    <div class="clearfix"></div>
    
{% endblock %}
