{% extends 'base.html.twig' %}

{% block page_title %}{{ 'error.forbidden.titulo'|trans({}, 'commiunities')|upper }}{% endblock %}

{% block body %}

    <h4>{{ 'error.forbidden.texto'|trans({}, 'commiunities') }}</h4>

    <div class="clearfix"></div>
    
{% endblock %}
