<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Commiunities{% endblock %}</title>

        {% block stylesheets %}

            <!-- Codespace Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('assets/commiunities/assets/css/bootstrap.min.css') }}">
            <!-- Codespace Media Queries -->
            <link rel="stylesheet" href="{{ asset('assets/commiunities/css/queries.css') }}">
            <!-- Codespace CSS -->
            <link rel="stylesheet" href="{{ asset('assets/commiunities/assets/css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/commiunities/css/main.css') }}">           

        {% endblock stylesheets %}

    </head>

    <body>

        <div class="color">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top navegador">
                    <div class="container"> 
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand " href="{{ path('index') }}"><img class=" logo col-xs-5 col-sm-5 col-md-5" src="{{ asset('assets/commiunities/images/logo-commiunities.png') }}" alt=""></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="margin-nav" href="#">{{ 'commiunities.top.ayuda'|trans({}, 'commiunities') }}</a></li>
                                <li><a class="margin-nav" href="{{ path('fos_user_security_login') }}">{{ 'commiunities.top.acceder'|trans({}, 'commiunities') }}</a></li>
                                <li><a class="margin-nav" href="{{ path('fos_user_registration_register') }}">{{ 'commiunities.top.registro'|trans({}, 'commiunities') }}</a></li>
                                <li><a class="margin-nav green" href="#">{{ 'commiunities.top.idiomas'|trans({}, 'commiunities') }}</a></li>
                            </ul>
                        </div>        
                    </div>         
                </nav>
            </header>


        {% block content %}{% endblock %}


    </div>

    {% block javascripts %}
        <script src="{{ asset('assets/commiunities/assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/commiunities/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/commiunities/js/main.js') }}"></script>
    {% endblock javascripts %}

    <!-- Google Maps Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_googlemaps }}&language={{ app.request.getLocale() }}" async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

</body>
</html>