<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ 'title'|trans({}, 'commiunities') }}</title>

        {% block stylesheets %}
            <!-- Bootstrap -->
            <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Font Awesome -->
            <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        {% endblock stylesheets %}

        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">


                {% include 'plantilla/sidebar.html.twig' %}
                {% include 'plantilla/topnav.html.twig' %}


                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        {% block top_content_header %}
                            <div class="page-title">
                                <div class="title_left">
                                    <h3>{% block page_title %}</h3>Page Title{% endblock page_title %}
                                </div>               
                            </div>
                        {% endblock top_content_header %}

                        <div class="clearfix"></div>


                    {% block body %}{% endblock %}


                </div>
            </div>
            <!-- /page content -->


            {% include 'plantilla/footer.html.twig' %}


        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
        
    {% block javascripts %}{% endblock javascripts %}

    {% block modals %}{% endblock modals %}

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>

    <!-- Google Maps Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_googlemaps }}&language={{ app.request.getLocale() }}" async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

</body>
</html>