{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipamiento.editar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <br/>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} " />
    {{ form_end(edit_form) }}

    <br/>
    <a href="{{ path('equipamiento_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>

{% endblock %}
