{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipamiento.lista'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}
    
    <div class="col-xs-12">                     
        <div class="container">
            <p style="padding:5px;"></p>
            <p><em><strong>{{ 'equipamiento.mensaje_importante'|trans({}, 'commiunities') }}:</strong> {{ 'equipamiento.mensaje_accion'|trans({}, 'commiunities') }}</em></p>
            <p style="padding:5px;"></p>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'equipamiento.tabla.comunidad'|trans({}, 'commiunities') }}</th>
                <th>{{ 'equipamiento.tabla.equipo'|trans({}, 'commiunities') }}</th>
                <th>{{ 'equipamiento.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for equipamiento in equipamientos %}
                <tr>
                    <td>{{ equipamiento.comunidad.nombre }}</a></td>
                    <td>{{ equipamiento.equipo.nombre }}</a></td>
                    <td>
                        <a href="{{ path('equipamiento_show', { 'id': equipamiento.id }) }}"><span class="glyphicon glyphicon-search"></span> {{ 'botones.ver'|trans({}, 'commiunities') }}</a>

                        {% if acciones[equipamiento.id] == false %}
                            <br/>
                            <a href="{{ path('equipamiento_edit', { 'id': equipamiento.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'botones.editar'|trans({}, 'commiunities') }}</a>
                        {% endif %}

                        <br/>
                        <a href="{{ path('bloque_index', { 'ideq': equipamiento.id }) }}"><span class="glyphicon glyphicon-time"></span> {{ 'botones.horario'|trans({}, 'commiunities') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipamiento_new') }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-plus"></span> {{ 'equipamiento.nuevo'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
