{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipamiento.nuevo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value=" {{ 'equipamiento.crear'|trans({}, 'commiunities') }} " />
    {{ form_end(form) }}

    <br/>
    <a href="{{ path('equipamiento_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
