{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipamiento.consultar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}
    
    <div class="col-xs-12">                     
        <div class="container">
            <p style="padding:5px;"></p>
            <p><em><strong>{{ 'equipamiento.mensaje_importante'|trans({}, 'commiunities') }}:</strong> {{ 'equipamiento.mensaje_accion'|trans({}, 'commiunities') }}</em></p>
            <p style="padding:5px;"></p>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th width=15%>{{ 'equipamiento.tabla.comunidad'|trans({}, 'commiunities') }}</th>
                <td width=85%>{{ equipamiento.comunidad.nombre }}</td>
            </tr>
            <tr>
                <th>{{ 'equipamiento.tabla.equipo'|trans({}, 'commiunities') }}</th>
                <td>{{ equipamiento.equipo.nombre }}</td>
            </tr>
        </tbody>
    </table>
            
    {% if acciones[equipamiento.id] == false %}
        {{ form_start(delete_form) }}
            <input type="submit" value=" {{ 'botones.eliminar'|trans({}, 'commiunities') }} " onclick="return confirm(' {{ 'botones.confirmar'|trans({}, 'commiunities') }} ');">
            <a href="{{ path('equipamiento_edit', { 'id': equipamiento.id }) }}"><input type="button" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} "></a>
        {{ form_end(delete_form) }}
    {% endif %}

    <br/><br/>
    <a href="{{ path('equipamiento_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
