{% extends 'base.html.twig' %}

{% block page_title %} {{ 'index.titulo'|trans({}, 'commiunities') }} {% endblock %}

{% block body %}

    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>

    <div id="map"></div>
    
    {% set i = 0 %}
    {% for comunidad in comunidades %}    
    <hr/>
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:1px;"></p>
            <h3 align="center">{{ comunidad.nombre }}</h3>
        </div>
        <div class="col-xs-12 col-sm-9">	
            <div class="media">
                <div class="media-body">
                    <p style="padding:1px;"></p>
                    <p>{{ comunidad.descripcion }}  
                        {% if roles[i] == 1 %}
                            <span class="label label-warning">Administrador</span>
                        {% elseif roles[i] == 2 %} 
                            <span class="label label-warning">Miembro</span>
                        {% endif %} 
                    </p>
                    <p>
                        <a class="btn btn-primary btn-xs" href="{{ path('comunidad_detalle', { 'id': comunidad.id }) }}">
                            {{ 'botones.ver_comunidad'|trans({}, 'commiunities') }} &raquo;
                        </a>
                    </p>
                </div>
            </div>			
        </div>        
    </div>
    {% set i = i + 1 %}
    {% endfor %}

    <script>

        window.onload = function () {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: {lat:{{maps_latitud}}, lng:{{maps_longitud}}}
            });

            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                var comunidad = nombres[i % nombres.length];
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length],
                    title: comunidad
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [
        {{coordenadas}}
            ];
            var n = '{{detalle}}';
            var nombres = n.split(',');
    </script>   

{% endblock %}
