{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipos.consultar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'equipos.tabla.nombre'|trans({}, 'commiunities') }}</th>
                <th>{{ 'equipos.tabla.descripcion'|trans({}, 'commiunities') }}</th>
                <th>{{ 'equipos.tabla.tipo'|trans({}, 'commiunities') }}</th>
                <th>{{ 'equipos.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.descripcion }}</td>
                <td>{{ equipo.tipo }}</td>
                <td>                 
                    <a href="{{ path('equipo_show', { 'id': equipo.id }) }}"><span class="glyphicon glyphicon-search"></span> {{ 'botones.ver'|trans({}, 'commiunities') }}</a>
                    <br/>
                    <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'botones.editar'|trans({}, 'commiunities') }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
    <a href="{{ path('equipo_new') }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-plus"></span> {{ 'equipos.nuevo'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
