{% extends 'base.html.twig' %}

{% block page_title %}{{ 'equipos.consultar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}
    
    <div class="col-xs-12">                     
        <div class="container">
            <p style="padding:5px;"></p>
            <p><em><strong>{{ 'equipos.mensaje_importante'|trans({}, 'commiunities') }}:</strong> {{ 'equipos.mensaje_accion'|trans({}, 'commiunities') }}</em></p>
            <p style="padding:5px;"></p>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th width=15%>{{ 'equipos.nombre'|trans({}, 'commiunities') }}</th>
                <td width=85%>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>{{ 'equipos.descripcion'|trans({}, 'commiunities') }}</th>
                <td>{{ equipo.descripcion }}</td>
            </tr>
            <tr>
                <th>{{ 'equipos.tipo'|trans({}, 'commiunities') }}</th>
                <td>{{ equipo.tipo }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}       
        
        {% if equipo.id in acciones|keys %}
            <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}"><input type="button" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} "></a>
        {% else %}
            <input type="submit" value=" {{ 'botones.eliminar'|trans({}, 'commiunities') }} " onclick="return confirm(' {{ 'botones.confirmar'|trans({}, 'commiunities') }} ');">
            <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}"><input type="button" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} "></a>
        {% endif %}

    {{ form_end(delete_form) }}

    <br/>
    <a href="{{ path('equipo_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>

{% endblock %}
