{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

    <section>
        <h2 class="text-center texto-princ"><b>{{ 'commiunities.registro.titulo'|trans({}, 'commiunities') }}</b></h2>
        <p class="text-center texto-superior">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </section> 

{% endblock content %}
