{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

    <section>
        <h2 class="text-center texto-princ"><b>{{ 'commiunities.registro.titulo'|trans({}, 'commiunities') }}</b></h2>  

        <div align="center">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
            <br/><br/>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}"><input type="button" value="{{ 'registration.back'|trans({}, 'FOSUserBundle') }}" /></a></p>{% endif %}
            {% endif %}
        </div>

    </section>

{% endblock content %}
