<section>
    <p class="text-center texto-superior"><b>{{ 'commiunities.registro.mensaje'|trans({}, 'commiunities') }}: <a href="{{ path('fos_user_security_login') }}">{{ 'commiunities.registro.ingresar'|trans({}, 'commiunities') }}</a></b></p>
    <h2 class="text-center texto-princ"><b>{{ 'commiunities.registro.titulo'|trans({}, 'commiunities') }}</b></h2>

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        <div class="container border"  id="fos_user_registration_form">
            <div class="first-label">

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.nombre.vars.id }}"
                               class="{{ form.nombre.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.name'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.nombre) }}
                        {{ form_errors(form.nombre) }}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.apellido.vars.id }}"
                               class="{{ form.apellido.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.lastname'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.apellido) }}
                        {{ form_errors(form.apellido) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.email.vars.id }}"
                               class="{{ form.email.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.email'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                        <p class="text-form">*{{ 'commiunities.registro.tip_email'|trans({}, 'commiunities') }}</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.username.vars.id }}"
                               class="{{ form.username.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.username'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.plainPassword.first.vars.id }}"
                               class="{{ form.plainPassword.first.vars.required ? 'required' : '' }}">
                            {{ 'form.password'|trans({}, 'FOSUserBundle')|upper }}
                        </label>                        
                        {{ form_widget(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.first) }}
                        <p class="text-form">*{{ 'commiunities.registro.tip_contrasena'|trans({}, 'commiunities') }}</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.plainPassword.second.vars.id }}"
                               class="{{ form.plainPassword.second.vars.required ? 'required' : '' }}">
                            {{ 'form.password_confirmation'|trans({}, 'FOSUserBundle')|upper }}
                        </label>    
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.fechaNacimiento.vars.id }}"
                               class="{{ form.fechaNacimiento.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.dateofbirth'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.fechaNacimiento) }}
                        {{ form_errors(form.fechaNacimiento) }}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <label for="{{ form.telefono.vars.id }}"
                               class="{{ form.telefono.vars.required ? 'required' : '' }}">
                            {{ 'profile.show.telephone'|trans({}, 'FOSUserBundle')|upper }}
                        </label>
                        {{ form_widget(form.telefono) }}
                        {{ form_errors(form.telefono) }}
                    </div>
                </div>
                            
                {{ form_widget(form._token) }}

            </div>
        </div>
        <div class="container">
            <div class="row checkbox text-center">
                <label>
                    <input type="checkbox" required>{{ 'commiunities.registro.terminos'|trans({}, 'commiunities') }}
                </label>
            </div>
            <div class="row text-center">
                <button class="button-register" type="submit">{{ 'commiunities.registro.boton'|trans({}, 'commiunities') }}</button>
            </div>
        </div> 
    </form>
</section> 
