<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico">
    	<title>Commiunities</title>

    	<!-- Codespace Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('assets/commiunities/assets/css/bootstrap.min.css') }}">
    	<!-- Codespace Media Queries -->
        <link rel="stylesheet" href="{{ asset('assets/commiunities/css/queries.css') }}">
    	<!-- Codespace CSS -->
        <link rel="stylesheet" href="{{ asset('assets/commiunities/assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/commiunities/css/main.css') }}">
        <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section class="portada">
           <header>
                <nav class="navbar navbar-default navbar-fixed-top navegador">
                    <div class="container"> 
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>                                                  
                                <a class="navbar-brand " href="{{ path('index') }}"><img class=" logo col-xs-5 col-sm-5 col-md-5" src="{{ asset('assets/commiunities/images/logo-commiunities.png') }}" alt=""></a>
                        </div>
                         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="margin-nav" href="#">ayuda</a></li>
                                <li><a class="margin-nav" href="{{ path('fos_user_security_login') }}">acceder</a></li>
                                <li><a class="margin-nav" href="{{ path('fos_user_registration_register') }}">registro</a></li>
                                <li><a class="margin-nav green" href="#">idiomas</a></li>
                            </ul>
                        </div>   
                    </div> 
                </nav>
            </header>
            <div class="container-fluid banner">
                <div class="row">
                    <p class="text-intro"><b>El tiempo es valioso,<br> te ayudamos a gestionarlo.</b></p>
                </div>
            </div>
            <div class="container-fluid barra-blue"></div>
            <div class="container-fluid opacidad"></div>
        </section>
            <section class="funcionamiento icons">
                <h2>Cómo funciona</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-4 circle">
                                    <img src="{{ asset('assets/commiunities/images/ubicacion.png') }}" height="100" width="100">
                                    <p>1</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="{{ asset('assets/commiunities/images/calendar.png') }}" height="100" width="100">
                                    <p>2</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="{{ asset('assets/commiunities/images/check.png') }}" height="100" width="80">
                                    <p>3</p>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
            <section class="content-port">
                <div class="container">
                    <a href="#">Sobre nosotros</a>
                    <a href="#">Contacto</a>
                    <a href="#">Ayuda</a>
                </div>
            </section>
    	<footer>            
    		<img src="{{ asset('assets/commiunities/images/logocodespace.png') }}" alt="Codespace">
    		<p class="rights">Copyright © Codespace - All rights reserved, Created by <a href="http://codespacelab.com" target="_blank">Codespace</a></p>
    	</footer>
    	<!--  End Footer  -->
        
        <script src="{{ asset('assets/commiunities/assets/js/jquery.min.js') }}"></script>
    	<script src="{{ asset('assets/commiunities/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/commiunities/js/main.js') }}"></script>
    </body>

</html>
