{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <style>
        #map {
            height: 350px;
            width: 100%;
        }
    </style>    

    <section class="user color">
        <div class="container">
            <div class="row">
                {% if comunidad1.id is not null or comunidad1.id is not empty %}
                    <div class="col-xs-12 col-sm-5 col-md-5 caja">
                        <img class="icono-home" src="{{ asset('assets/commiunities/images/house.png') }}" width="50" height="50">
                        <p class="comunidad">{{ comunidad1.nombre|upper}}</p>
                        <p>{{ 'direccion.calle'|trans({}, 'commiunities') }} {{ comunidad1.direccion.calle }} <span class="span">{{ 'direccion.numero'|trans({}, 'commiunities') }} {{ comunidad1.direccion.numero }}</span></p>
                        <p>{{ 'direccion.ciudad'|trans({}, 'commiunities') }} {{ comunidad1.direccion.ciudad }}</p>
                        <p>{{ 'direccion.cp'|trans({}, 'commiunities') }} {{ comunidad1.direccion.codigopostal }} <span>{{ 'direccion.pais'|trans({}, 'commiunities') }} {{ comunidad1.direccion.pais|country }}</span></p>
                        <button class="button-gray" onclick="location.href='{{ path('ver', { 'id': comunidad1.id }) }}';">{{ 'botones.ver'|trans({}, 'commiunities') }}</button>
                    </div>
                {% endif %}

                {% if comunidad2.id is not null or comunidad2.id is not empty %}
                    <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-2 caja">
                        <img class="icono-home" src="{{ asset('assets/commiunities/images/house.png') }}" width="50" height="50">
                        <p class="comunidad">{{ comunidad2.nombre|upper}}</p>
                        <p>{{ 'direccion.calle'|trans({}, 'commiunities') }} {{ comunidad2.direccion.calle }}<span class="span">{{ 'direccion.numero'|trans({}, 'commiunities') }} {{ comunidad2.direccion.numero }}</span></p>
                        <p>{{ 'direccion.ciudad'|trans({}, 'commiunities') }} {{ comunidad2.direccion.ciudad }}</p>
                        <p>{{ 'direccion.cp'|trans({}, 'commiunities') }} {{ comunidad2.direccion.codigopostal }} <span>{{ 'direccion.pais'|trans({}, 'commiunities') }} {{ comunidad2.direccion.pais|country }}</span></p>
                        <button class="button-gray" onclick="location.href='{{ path('ver', { 'id': comunidad2.id }) }}';">{{ 'botones.ver'|trans({}, 'commiunities') }}</button>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="maps">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

            <div class="row"> 

                {% set i = 1 %}
                {% for comunidad in comunidades %}  

                    {% if (comunidad.id != comunidad1.id) and (comunidad.id != comunidad2.id) %}  

                        {% if i%2 == 0 %}        
                            <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-2 caja below">
                        {% else %}
                            <div class="col-xs-12 col-sm-5 col-md-5 caja below"> 
                        {% endif %}        

                                <img class="icono-home" src="{{ asset('assets/commiunities/images/house.png') }}" width="50" height="50">
                                <p class="comunidad">{{ comunidad.nombre|upper}}</p>
                                <p>{{ 'direccion.calle'|trans({}, 'commiunities') }} {{ comunidad.direccion.calle }}<span class="span">{{ 'direccion.numero'|trans({}, 'commiunities') }} {{ comunidad.direccion.numero }}</span></p>
                                <p>{{ 'direccion.ciudad'|trans({}, 'commiunities') }} {{ comunidad.direccion.ciudad }}</p>
                                <p>{{ 'direccion.cp'|trans({}, 'commiunities') }} {{ comunidad.direccion.codigopostal }} <span>{{ 'direccion.pais'|trans({}, 'commiunities') }} {{ comunidad.direccion.pais|country }}</span></p>
                                <button class="button-gray" onclick="location.href='{{ path('ver', { 'id': comunidad.id }) }}';">{{ 'botones.ver'|trans({}, 'commiunities') }}</button>                                
                            </div>   
                                
                    {% endif %} 
                    
                {% set i = i + 1 %}      
                {% endfor %}             
            </div>
        </div>                
    </section>   

    <script>

        window.onload = function () {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 2,
                center: {lat:{{maps_latitud}}, lng:{{maps_longitud}}}
            });

            // Create an array of alphabetical characters used to label the markers.
            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                var comunidad = nombres[i % nombres.length];
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length],
                    title: comunidad
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var locations = [
        {{coordenadas}}
            ];
            var n = '{{detalle}}';
            var nombres = n.split(',');
    </script>   

{% endblock content %}
