{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="container-fluid home">
        <div class="row">
            <div class="map-insert">
                {% if comunidad.direccion.latitud is not null and comunidad.direccion.longitud is not null %}                 
                    <div id="map"></div>
                {% else %}
                    <p style="padding:80px;"></p>                               
                {% endif %}
            </div> 
            <p class="community">{{ comunidad.nombre|upper}}</p>
            <div class="icon-home">
                <img class="gray-home" src="{{ asset('assets/commiunities/images/housefont.png') }}" height="180" width="180">
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4 col-md-4"><img src="{{ asset('assets/commiunities/images/lavadorainactiva.png') }}" height="180" width="180"></div>
                <div class="col-sm-4 col-md-4"><img src="{{ asset('assets/commiunities/images/secadoinactivo.png') }}" height="180" width="180"></div>
                <div class="col-sm-4 col-md-4"><img src="{{ asset('assets/commiunities/images/iconball.png') }}" height="180" width="180"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="box">
                        <img class="icon-hometwo" src="{{ asset('assets/commiunities/images/house.png') }}" width="50" height="50">
                        <p class="comunidad">{{ comunidad.nombre|upper}}</p>
                        <p>{{ 'direccion.calle'|trans({}, 'commiunities') }} {{ comunidad.direccion.calle }}<span class="span">{{ 'direccion.numero'|trans({}, 'commiunities') }} {{ comunidad.direccion.numero }}</span></p>
                        <p>{{ 'direccion.ciudad'|trans({}, 'commiunities') }} {{ comunidad.direccion.ciudad }}</p>
                        <p>{{ 'direccion.cp'|trans({}, 'commiunities') }} {{ comunidad.direccion.codigopostal }} <span>{{ 'direccion.pais'|trans({}, 'commiunities') }} {{ comunidad.direccion.pais|country }}</span></p>
                        <button class="button-gray" onclick="location.href = '{{ path('fos_user_security_login') }}';">{{ 'botones.solicitar_registro'|trans({}, 'commiunities') }}</button>  
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if comunidad.direccion.latitud is not null and comunidad.direccion.longitud is not null %}    
        <style>
            #map {
                height: 300px;
                width: 100%;
            }
        </style>     

        <script>
            window.onload = function () {
                var ubicacion = {lat:{{ comunidad.direccion.latitud }}, lng:{{ comunidad.direccion.longitud }}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: ubicacion
                });
                var marker = new google.maps.Marker({
                    position: ubicacion,
                    map: map
                });
            }
        </script>
    {% endif %}

{% endblock content %}
