{% extends 'base.html.twig' %}

{% block page_title %}{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block body %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock body %}
