{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.ceder.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    {% if cantidad['cantidad'] == 1 %}
        <div class="col-xs-12"><h4>{{ 'comunidades.ceder.mensaje_no_miembros'|trans({}, 'commiunities') }}</h4></div>

        <br/><br/><br/>
        <a href="{{ path('comunidad_index') }}" class="btn btn-primary btn-md" role="button">
            {{ 'botones.regresar'|trans({}, 'commiunities') }}
        </a>
    {% endif %}

    {% for miembro in miembros %}

        <div class="col-xs-12">                     
            <div class="container">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">                      
                            <h5>
                                <a data-toggle="collapse" href="#{{ miembro.id }}">
                                    <span class="glyphicon glyphicon-chevron-down"></span> 
                                    {% if miembro.nombre is null %}
                                        {{ miembro.username }}
                                    {% else %}
                                        {{ miembro.nombre }} {{ miembro.apellido }}
                                    {% endif %}
                                </a>
                            </h5> 
                        </div>
                        <div id="{{ miembro.id }}" class="panel-collapse collapse">
                            <div class="panel-body">  
                                <div class="media">
                                    <div class="media-left media-middle">
                                        {% if miembro.foto is null or miembro.foto is empty %}
                                            <img src="{{ asset('assets/images/user.png') }}" width="80" />
                                        {% else %} 
                                            <img src="{{ vich_uploader_asset(miembro, 'imageFile', 'AppBundle\\Entity\\Usuario') }}" width="80" />
                                        {% endif %} 
                                    </div>
                                    <div class="media-body">
                                        <p><strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</strong> {{ miembro.username }}</p>
                                        <p><strong>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</strong> {{ miembro.email }}</p>
                                        {% if miembro.telefono is not null or miembro.telefono is not empty %}
                                            <p><strong>{{ 'profile.show.telephone'|trans({}, 'FOSUserBundle') }}:</strong> {{ miembro.telefono }}</p>
                                        {% endif %}  
                                        <p>
                                            <a class="btn btn-primary btn-xs" href="{{ path('ceder', { 'idu': miembro.id, 'idc': idComunidad }) }}" onclick="return confirm(' {{ 'botones.confirmar_ceder'|trans({}, 'commiunities') }} ');">
                                                {{ 'botones.ceder'|trans({}, 'commiunities') }} &raquo;
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </div>

    {% endfor %}

{% endblock %}
