{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}

{% block body %}

    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:1px;"></p>
            <h3 align="center">{{ comunidad.nombre }}</h3>
        </div>      
    </div>

    {% if comunidad.foto is not null %}
        <div class="row row-content">
            <div class="col-xs-12" align="center">
                <a href="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" target="_blank">
                    <img src="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" width="350px" />
                </a>
            </div>     
        </div>
    {% endif %}

    <h4>{{ 'direccion.titulo'|trans({}, 'commiunities') }}</h4> 

    <table class="table table-hover"> 
        <tbody> 
            <tr> 
                <th width=20%>{{ 'direccion.calle'|trans({}, 'commiunities') }}</th> 
                <td width=80%>{{ comunidad.direccion.calle }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.numero'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.numero }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.codigopostal'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.codigoPostal }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.ciudad'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.ciudad }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.pais'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.pais|country }}</td> 
            </tr> 
        </tbody> 
    </table>     

    {% if vinculo == false and rol != 1 and rol != 2 %}
        <form name="form_vincular" action="{{ path('vinculo_new') }}" method="post">

            <input type="hidden" name="usuario" id="usuario" value="{{ app.user.id}}" />
            <input type="hidden" name="comunidad" id="comunidad" value="{{ comunidad.id}}" />

            <button type="submit" class="btn btn-primary btn-md" onclick="return confirm(' {{ 'botones.confirmar_vinculo'|trans({}, 'commiunities') }} ');">
                <span class="glyphicon glyphicon-link"></span> {{ 'botones.vincular'|trans({}, 'commiunities') }}
            </button>

        </form>
    {% elseif rol == 1 or rol == 2 %}    
        <div class="row">
            <div class="col-xs-12 col-md-6" align="center">
                <a href="{{ path('detalle_miembros', { 'id': comunidad.id }) }}"><i class="big-icon fa fa-user-o" aria-hidden="true"></i>
                    <br/>
                    {{ 'comunidades.detalle.miembros'|trans({}, 'commiunities') }}</a>
            </div>
            <div class="col-xs-12 col-md-6" align="center">
                <a href="{{ path('lista_equipamientos', { 'id': comunidad.id }) }}"><i class="big-icon fa fa-calendar" aria-hidden="true"></i>
                    <br/>
                    {{ 'comunidades.calendario.titulo'|trans({}, 'commiunities') }}</a>
            </div>
        </div>
        <div><p><br/></p></div>
    {% endif %}

    <style>
        .big-icon {
            font-size: 60px;
        }
    </style>

    <div class="clearfix"></div>

{% endblock %}
