{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.editar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}    

    {{ form_row(edit_form.nombre) }}
    {{ form_row(edit_form.descripcion) }}
    {{ form_row(edit_form.imageFile) }}        

    {% if comunidad.foto is not null %}
        <div class="form-group">
            <label class="col-sm-2 control-label required" for="imagenActual">{{ 'comunidades.actual'|trans({}, 'commiunities') }}</label>
            <div class="col-sm-10">
                <a href="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" target="_blank" id="imagenActual">
                    <img src="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" width="100" />
                </a>
            </div>
        </div>
    {% endif %}               

    {{ form_rest(edit_form) }}

    <input type="hidden" value=" {{ maps_latitud }} " id="maps_latitud" />
    <input type="hidden" value=" {{ maps_longitud }} " id="maps_longitud" />
    
    <input type="hidden" value=" {{ comunidad.direccion.latitud }} " id="milatitud" />
    <input type="hidden" value=" {{ comunidad.direccion.longitud }} " id="milongitud" />

    <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'direccion.ubicacion'|trans({}, 'commiunities') }}</label>
        <div class="col-sm-10">            
            <div id="map"></div>
        </div>
    </div>  

    <br/>    

    <input type="submit" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} " />
    {{ form_end(edit_form) }}

    <br/>
    <a href="{{ path('comunidad_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
    
    
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
    </style> 
    
    <script type="text/javascript">
        // Latitud y longitud por defecto
        var maps_latitud = parseFloat(document.getElementById("maps_latitud").value);
        var maps_longitud = parseFloat(document.getElementById("maps_longitud").value);
        
        // Latitud y longitud de la comunidad
        var latitud = parseFloat(document.getElementById("milatitud").value);
        var longitud = parseFloat(document.getElementById("milongitud").value);
        
        if(!latitud && !longitud){
            var markers = [
                {
                    "lat": maps_latitud,
                    "lng": maps_longitud
                }
            ];
            zoom = 2;
        }else{        
            var markers = [
                {
                    "lat": latitud,
                    "lng": longitud
                }
            ];
            zoom = 15;
        }
        
        window.onload = function () {
            
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: zoom,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            
            for (var i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP
                });
                
                (function (marker, data) {
                    google.maps.event.addListener(marker, "dragend", function (e) {
                        document.getElementById("appbundle_comunidad_direccion_latitud").value = this.getPosition().lat();
                        document.getElementById("appbundle_comunidad_direccion_longitud").value = this.getPosition().lng();                         
                    });                    
                })(marker, data);
            }
        }
    </script>

{% endblock %}
