{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.calendario.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <br/>   
    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:1px;"></p>
            <h3 align="center">{{ comunidad.nombre }}</h3>
        </div>      
    </div>

    {% if mensaje_reserva == "reserva" %}
        <br/>   
        <div class="row row-content">
            <div class="col-xs-12">
                <p style="padding:1px;"></p>
                <h2 align="center" style="color:green"><i class="fa fa-check" aria-hidden="true"></i> {{ 'reservas.mensaje_exito'|trans({}, 'commiunities') }}</h2>
            </div>      
        </div>
        <br/>
    {% endif %}    

    {% if (equipamientos|length) > 0 %}

        {% for eq in equipamientos %}

            <div class="col-xs-12">                     
                <div class="container">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">                      
                                <h5>
                                    <a data-toggle="collapse" href="#{{ eq.id }}">
                                        <span class="glyphicon glyphicon-chevron-down"></span>                                    
                                        {{ eq.equipo.nombre }}                            
                                    </a>
                                </h5> 
                            </div>
                            <div id="{{ eq.id }}" class="panel-collapse collapse">
                                <div class="panel-body">

                                    {% if (bloques[eq.id]|length) > 0 %}

                                        <form name="form_eq_{{ eq.id }}" action="{{ path('bloques_reserva', { 'id': comunidad.id }) }}" method="post">

                                            <p><strong><i class="fa fa-clock-o" style="color:green;"></i> {{ 'comunidades.calendario.horario'|trans({}, 'commiunities') }}</strong></p>

                                            <input type="hidden" name="comunidad" id="comunidad" value="{{ comunidad.id }}" /> 
                                            <input type="hidden" name="equipamiento" id="equipamiento" value="{{ eq.id }}" /> 

                                            {% for bloque in bloques[eq.id] %}                                    
                                                <p>
                                                    <input type="radio" name="bloque" id="bloque" value="{{ bloque.id }}" required />                                                
                                                    {% if bloque.dia == 'LU' %}
                                                        {{ 'bloque.dia.lunes'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'MA' %}
                                                        {{ 'bloque.dia.martes'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'MI' %}
                                                        {{ 'bloque.dia.miercoles'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'JU' %}
                                                        {{ 'bloque.dia.jueves'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'VI' %}
                                                        {{ 'bloque.dia.viernes'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'SA' %}
                                                        {{ 'bloque.dia.sabado'|trans({}, 'commiunities') }}
                                                    {% endif %}
                                                    {% if bloque.dia == 'DO' %}
                                                        {{ 'bloque.dia.domingo'|trans({}, 'commiunities') }}
                                                    {% endif %}

                                                    {{ 'comunidades.calendario.desde'|trans({}, 'commiunities') }} 
                                                    {{ bloque.horaInicio|date('H:i') }} 
                                                    {{ 'comunidades.calendario.a'|trans({}, 'commiunities') }} 
                                                    {{ bloque.horaFin|date('H:i') }}
                                                </p>                                    
                                            {% endfor %}

                                            <p>
                                                <button type="submit" class="btn btn-primary btn-xs">{{ 'botones.reservar'|trans({}, 'commiunities') }} &raquo;</button>
                                            </p> 

                                        {% else %}
                                            <p style="color:red;">{{ 'comunidades.calendario.no_horario'|trans({}, 'commiunities') }}</p>
                                        {% endif %}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>

        {% endfor %}

    {% else %}
        <h5 style="color:red;">{{ 'comunidades.calendario.no_equipamiento'|trans({}, 'commiunities') }}</h5>
    {% endif %}

    <br/>
    <a href="{{ path('comunidad_detalle', { 'id': comunidad.id }) }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-home"></span> {{ 'botones.regresar_comunidad'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
