{% extends 'base.html.twig' %}

{% block page_title %} {{ 'comunidades.lista.titulo'|trans({}, 'commiunities') }} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <p>{{ 'comunidades.lista.descripcion'|trans({}, 'commiunities') }} <span class="badge">{{ 'comunidades.lista.admin'|trans({}, 'commiunities') }}</span></p>
            <p>&nbsp;</p>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'comunidades.tabla.nombre'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.descripcion'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.cantidad'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for comunidad in comunidads %}
            <tr>
                <td>{{ comunidad.nombre }}</td>
                <td>{{ comunidad.descripcion }}</td>
                <td>{{ miembros[i]['cantidad'] }}</td>
                <td>
                    <a href="{{ path('comunidad_show', { 'id': comunidad.id }) }}"><span class="glyphicon glyphicon-search"></span> {{ 'botones.ver'|trans({}, 'commiunities') }}</a>
                    <br/>
                    <a href="{{ path('comunidad_edit', { 'id': comunidad.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'botones.editar'|trans({}, 'commiunities') }}</a>
                    <br/>
                    <a href="{{ path('comunidad_ceder', { 'id': comunidad.id }) }}">
                        <span class="glyphicon glyphicon-share"></span> {{ 'botones.ceder'|trans({}, 'commiunities') }}
                    </a>
                </td>
            </tr>
        {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comunidad_new') }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-plus"></span> {{ 'comunidades.nueva'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
