{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.miembros.titulo'|trans({}, 'commiunities') }}: {{ comunidad.nombre }}{% endblock %}

{% block body %}

    <br/>   
    <div class="row">
        <div class="col-xs-12">            
        {% for miembro in miembros %}   
            
            {% if miembro.usuario.nombre is null %}              
            <p>
                <span class="glyphicon glyphicon-user"></span> [ {{ 'comunidades.miembros.sin_perfil'|trans({}, 'commiunities') }} ]
                {% if miembro.usuario.id == app.user.id %} 
                    <span class="label label-warning">{{ 'comunidades.miembros.yo'|trans({}, 'commiunities') }}</span> 
                {% endif %}  
            </p>
            {% else %} 
            <p>
                <span class="glyphicon glyphicon-user"></span> {{ miembro.usuario.nombre }} {{ miembro.usuario.apellido }}
                {% if miembro.usuario.id == app.user.id %} 
                    <span class="label label-warning">{{ 'comunidades.miembros.yo'|trans({}, 'commiunities') }}</span> 
                {% endif %}  
            </p>
            {% endif %}
            
        {% endfor %}
        </div>
    </div> 

    <br/>
    <a href="{{ path('miscomunidades_index') }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-home"></span> {{ 'comunidades.mis.titulo'|trans({}, 'commiunities') }}
    </a>

{% endblock %}
