{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.mis.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <p>{{ 'comunidades.mis.descripcion'|trans({}, 'commiunities') }}</p>
            <p>&nbsp;</p>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'comunidades.tabla.nombre'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.descripcion'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.cantidad'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.rol'|trans({}, 'commiunities') }}</th>
                <th>{{ 'comunidades.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for comunidad in comunidades %}
             <tr>
                <td>{{ comunidad.nombre }}</td>
                <td>{{ comunidad.descripcion }}</td>
                <td><a href="{{ path('lista_miembros', { 'id': comunidad.id }) }}">{{ miembros[i]['cantidad'] }}</a></td>
                <td>                    
                    {% if roles[i] == 1 %}    
                        <span class="badge">{{ 'rol.admin'|trans({}, 'commiunities') }}</span>
                    {% else %}   
                        {{ 'rol.miembro'|trans({}, 'commiunities') }}
                    {% endif %}                      
                </td>
                <td>
                    <a href="{{ path('comunidad_detalle', { 'id': comunidad.id }) }}">
                        <span class="glyphicon glyphicon-search"></span> {{ 'botones.detalle'|trans({}, 'commiunities') }}
                    </a>                    
                </td>
            </tr> 
        {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-map-marker"></span> {{ 'menu.general.mapa'|trans({}, 'commiunities') }}
    </a>

{% endblock %}
