{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.nueva'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}  

    <input type="hidden" value=" {{ maps_latitud }} " id="maps_latitud" />
    <input type="hidden" value=" {{ maps_longitud }} " id="maps_longitud" />

    <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'direccion.ubicacion'|trans({}, 'commiunities') }}</label>
        <div class="col-sm-10">            
            <div id="map"></div>
        </div>
    </div>    

    <br/>

    <input type="submit" value=" {{ 'comunidades.crear'|trans({}, 'commiunities') }} " />
    {{ form_end(form) }}

    <br/>
    <a href="{{ path('comunidad_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
        
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
    </style>      
    
    <script type="text/javascript">
        // Latitud y longitud por defecto
        var maps_latitud = parseFloat(document.getElementById("maps_latitud").value);
        var maps_longitud = parseFloat(document.getElementById("maps_longitud").value);

        var markers = [
            {
                "lat": maps_latitud,
                "lng": maps_longitud
            }
        ];
        
        window.onload = function () {
            
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            
            for (var i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP
                });
                
                (function (marker, data) {
                    google.maps.event.addListener(marker, "dragend", function (e) {
                        document.getElementById("appbundle_comunidad_direccion_latitud").value = this.getPosition().lat();
                        document.getElementById("appbundle_comunidad_direccion_longitud").value = this.getPosition().lng();                         
                    });                    
                })(marker, data);
            }
        }
    </script>

{% endblock %}
