{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}

{% block body %}

    <div class="row row-content">
        <div class="col-xs-12">
            <p style="padding:1px;"></p>
            <h3 align="center">{{ comunidad.nombre }}</h3>
        </div>      
    </div>

    <br/>
    <div class="col-xs-12">                     
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">                      
                        <h5><a data-toggle="collapse" href="#collapse"><span class="glyphicon glyphicon-chevron-down"></span> {{ equipamiento.equipo.nombre }}</a></h5> 
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">           
                            <p><strong>{{ 'equipos.tipo'|trans({}, 'commiunities') }}:</strong>  {{ equipamiento.equipo.tipo }}</p>
                            <p><strong>{{ 'equipos.descripcion'|trans({}, 'commiunities') }}:</strong>  {{ equipamiento.equipo.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <p><strong>{{ 'reservas.mensaje_bloque'|trans({}, 'commiunities') }}:</strong></p>
            <p><i class="fa fa-clock-o" style="color:green;"></i> 
                <a href="#" id="bloque">
                    {% if bloque.dia == 'LU' %}
                        {{ 'bloque.dia.lunes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'MA' %}
                        {{ 'bloque.dia.martes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'MI' %}
                        {{ 'bloque.dia.miercoles'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'JU' %}
                        {{ 'bloque.dia.jueves'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'VI' %}
                        {{ 'bloque.dia.viernes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'SA' %}
                        {{ 'bloque.dia.sabado'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'DO' %}
                        {{ 'bloque.dia.domingo'|trans({}, 'commiunities') }}
                    {% endif %}

                    {{ 'comunidades.calendario.desde'|trans({}, 'commiunities') }} 
                    {{ bloque.horaInicio|date('H:i') }} 
                    {{ 'comunidades.calendario.a'|trans({}, 'commiunities') }} 
                    {{ bloque.horaFin|date('H:i') }}
                </a>
            </p>                                  

        </div>
    </div>

    <div class="container-reserva">
        <form name="reserva" id="reserva" action="{{ path('reserva_new') }}" method="post" class="form-horizontal">

            <input type="hidden" name="comunidad" id="comunidad" value="{{ comunidad.id }}" /> 
            <input type="hidden" name="equipamiento" id="equipamiento" value="{{ equipamiento.id }}" /> 
            <input type="hidden" name="bloque" id="bloque" value="{{ bloque.id }}" /> 


            <div class="form-group" align="center">
                <div class="col-sm-12" id="datepicker"></div>
            </div>

            <div class="form-group">
                <label for="fecha" class="col-sm-1 control-label required">{{ 'reservas.fecha.titulo'|trans({}, 'commiunities') }}</label>
                <div class="input-group date col-sm-2">                
                    <input type="text" name="fecha" id="fecha" class="form-control" placeholder="{{ 'reservas.fecha.formato'|trans({}, 'commiunities') }}" readonly required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>

            {% set hinicio = bloque.horaInicio|date('H') %}
            {% set hfin = bloque.horaFin|date('H') %}

            <div class="form-group">
                <label class="col-sm-1 control-label required">{{ 'reservas.desde'|trans({}, 'commiunities') }}</label>
                <div class="col-sm-11">
                    <div class="form-inline">
                        <select id="desde_hora" name="desde_hora" required="required" class="form-control">
                            <option value="" selected="selected">{{ 'bloque.hora.hora'|trans({}, 'commiunities') }}</option>

                            {% for i in hinicio..hfin %}
                                {% if i >= 0 and i <= 9 %}
                                    <option value="0{{ i }}">0{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>:
                        <select id="desde_minutos" name="desde_minutos" required="required" class="form-control">
                            <option value="" selected="selected">{{ 'bloque.hora.minuto'|trans({}, 'commiunities') }}</option>
                            <option value="00">00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>        
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label required">{{ 'reservas.hasta'|trans({}, 'commiunities') }}</label>
                <div class="col-sm-11">
                    <div class="form-inline">
                        <select id="hasta_hora" name="hasta_hora" required="required" class="form-control">
                            <option value="" selected="selected">{{ 'bloque.hora.hora'|trans({}, 'commiunities') }}</option>

                            {% for i in hinicio..hfin %}
                                {% if i >= 0 and i <= 9 %}
                                    <option value="0{{ i }}">0{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>:
                        <select id="hasta_minutos" name="hasta_minutos" required="required" class="form-control">
                            <option value="" selected="selected">{{ 'bloque.hora.minuto'|trans({}, 'commiunities') }}</option>
                            <option value="00">00</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>        
                    </div>
                </div>
            </div>

            <br/>
            <div id="bloquesdisponibles"></div>

            <div class="form-group">
                <br/>
                <button type="submit" class="btn btn-primary">{{ 'botones.reservar'|trans({}, 'commiunities') }} &raquo;</button>
                <a href="{{ path('comunidad_detalle', { 'id': comunidad.id }) }}" class="btn btn-primary btn-md" role="button">
                    <span class="glyphicon glyphicon-home"></span> {{ 'botones.regresar_comunidad'|trans({}, 'commiunities') }}
                </a>
            </div>

        </form>

    </div>

    <div class="clearfix"></div>

    {% block javascript %}
        
    <!-- Bootstrap Datepicker Scripts -->
    <script src="{{ asset('assets/js/jquery-1.11.3.min.js') }}"></script>
    <script> $1113 = jQuery.noConflict();</script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    
    {% if app.request.getLocale() == 'es' %}
    <script type="text/javascript" src="{{ asset('assets/js/moment/locales/bootstrap-datepicker.es.min.js') }}"></script>
    {% endif %}
    {% if app.request.getLocale() == 'en' %}
    <script type="text/javascript" src="{{ asset('assets/js/moment/locales/bootstrap-datepicker.en-GB.min.js') }}"></script>
    {% endif %}
    {% if app.request.getLocale() == 'fr' %}
    <script type="text/javascript" src="{{ asset('assets/js/moment/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    {% endif %}
    {% if app.request.getLocale() == 'de' %}
    <script type="text/javascript" src="{{ asset('assets/js/moment/locales/bootstrap-datepicker.de.min.js') }}"></script>
    {% endif %}
    {% if app.request.getLocale() == 'it' %}
    <script type="text/javascript" src="{{ asset('assets/js/moment/locales/bootstrap-datepicker.it.min.js') }}"></script>
    {% endif %}
    
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" /> 
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker3.css') }}"/>

    <script>
        var ddes = "{{ diasdeshabilitados }}";
        var d = "{{ diahabilitado }}";
        var bloqueslibres = null;
        var limite_inferior = "{{ calendario_limite_inferior }}";
        var limite_superior = "{{ calendario_limite_superior }}";
        var idioma = "{{ app.request.getLocale() }}"

        $1113(document).ready(function () {

            $1113('#datepicker').datepicker({
                daysOfWeekDisabled: ddes,
                daysOfWeekHighlighted: d,
                todayHighlight: true,
                format: 'dd-mm-yyyy',
                startDate: limite_inferior,
                endDate: limite_superior,
                language: idioma
            });

            $1113('#datepicker').on('changeDate', function (e) {
                e.preventDefault();
                
                bloqueslibres = null;

                $1113('#fecha').val($1113('#datepicker').datepicker('getFormattedDate'));

                var fecha = $1113('#fecha').val();
                var bloque = {{ bloque.id }};
                var equipamiento = {{ equipamiento.id }};
                var mensaje_rangos = "{{ 'reservas.mensaje_rangos'|trans({}, 'commiunities') }}";

                $1113("#bloquesdisponibles").empty();

                $1113.ajax({
                    url: "{{ path('procesar_reserva_ajax') }}",
                    type: "post",
                    data: {fecha: fecha, bloque: bloque, equipamiento: equipamiento},
                    success: function (data) {
                        bloqueslibres = data;
                        console.log(bloqueslibres);

                        var bloqueslibresJSON = JSON.stringify(data);
                        console.log(bloqueslibresJSON);

                        if (bloqueslibres != null) {
                            $1113("#bloquesdisponibles").append("<p><strong>" + mensaje_rangos + ":</strong</p>");

                            for (var i = 0; i < bloqueslibres.length; i++) {
                                $1113("#bloquesdisponibles").append("<p><i class='fa fa-check' aria-hidden='true'></i> " + bloqueslibres[i][0] + " - " + bloqueslibres[i][1] + "</><br/>");
                            }
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }

                });
            });
        });

        $1113(function () {
            $1113('#reserva').on('submit', function (e) {
                e.preventDefault();
                
                // Mensajes
                var mensajejs_sin_fecha = "{{ 'reservas.mensajejs_sin_fecha'|trans({}, 'commiunities') }}";
                var mensajejs_fecha_posterior = "{{ 'reservas.mensajejs_fecha_posterior'|trans({}, 'commiunities') }}";
                var mensajejs_horario_ocupado = "{{ 'reservas.mensajejs_horario_ocupado'|trans({}, 'commiunities') }}";
                
                var estaenbloques = false;

                var desde = $1113('#desde_hora').val()+":"+$1113('#desde_minutos').val();
                var hasta = $1113('#hasta_hora').val()+":"+$1113('#hasta_minutos').val();
                var fecha = $1113('#fecha').val();

                if (!fecha) {
                    alert(mensajejs_sin_fecha);
                } else {
                    if ( desde >= hasta ) {                        
                        console.log(desde);
                        console.log(hasta);

                        alert(mensajejs_fecha_posterior);
                        return false;
                    } else {

                        var desdeDate = new Date(2017, 01, 01, $1113('#desde_hora').val(), $1113('#desde_minutos').val());
                        var hastaDate = new Date(2017, 01, 01, $1113('#hasta_hora').val(), $1113('#hasta_minutos').val());

                        if (bloqueslibres != null) {
                            for (var i = 0; i < bloqueslibres.length; i++) {

                                var bi = bloqueslibres[i][0].split(":");
                                var binicio = new Date(2017, 01, 01, bi[0], bi[1]);

                                var bf = bloqueslibres[i][1].split(":");
                                var bfin = new Date(2017, 01, 01, bf[0], bf[1]);

                                if( (desdeDate >= binicio && desdeDate <= bfin) && (hastaDate >= binicio && hastaDate <= bfin) ){
                                    estaenbloques = true;
                                }
                            }
                        }else{
                            estaenbloques = true;                            
                        }

                        console.log(estaenbloques);

                        if(estaenbloques){
                            $("#reserva").submit();
                        }else{
                            alert(mensajejs_horario_ocupado);
                        }                  
                    }
                }
            });
        });
    </script>
    {% endblock  %}
    
{% endblock %}
