{% extends 'base.html.twig' %}

{% block page_title %}{{ 'comunidades.consultar.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}
    <br/> 
    <h4>{{ 'comunidades.datos'|trans({}, 'commiunities') }}</h4> 
    
    <table class="table table-hover">
        <tbody>
            <tr>
                <th width=20%>{{ 'comunidades.nombre'|trans({}, 'commiunities') }}</th>
                <td width=80%>{{ comunidad.nombre }}</td>
            </tr>
            <tr>
                <th>{{ 'comunidades.descripcion'|trans({}, 'commiunities') }}</th>
                <td>{{ comunidad.descripcion }}</td>
            </tr>
            <tr>
                <th>{{ 'comunidades.foto'|trans({}, 'commiunities') }}</th>
                {% if comunidad.foto is not null %}
                <td>
                    <a href="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" target="_blank">
                        <img src="{{ vich_uploader_asset(comunidad, 'imageFile', 'AppBundle\\Entity\\Comunidad') }}" width="200" />
                    </a>
                </td>
                {% else %}                    
                <td>
                    [{{ 'comunidades.sinfoto'|trans({}, 'commiunities') }}]
                </td>  
                {% endif %}
            </tr>
            <tr>
                <th>{{ 'comunidades.normativa'|trans({}, 'commiunities') }}</th>
                <td>{{ comunidad.normativa | raw }}</td>
            </tr>
        </tbody>
    </table>
            
    <h4>{{ 'direccion.titulo'|trans({}, 'commiunities') }}</h4> 
             
    <table class="table table-hover"> 
        <tbody> 
            <tr> 
                <th width=20%>{{ 'direccion.calle'|trans({}, 'commiunities') }}</th> 
                <td width=80%>{{ comunidad.direccion.calle }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.numero'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.numero }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.codigopostal'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.codigoPostal }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.ciudad'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.ciudad }}</td> 
            </tr> 
            <tr> 
                <th>{{ 'direccion.pais'|trans({}, 'commiunities') }}</th> 
                <td>{{ comunidad.direccion.pais|country }}</td> 
            </tr> 
            
            {% if comunidad.direccion.latitud is not null and comunidad.direccion.longitud is not null %}  
            <tr>
                <th>{{ 'direccion.maps.latitud'|trans({}, 'commiunities') }}</th>
                <td>{{ comunidad.direccion.latitud }}</td>
            </tr>
            <tr>
                <th>{{ 'direccion.maps.longitud'|trans({}, 'commiunities') }}</th>
                <td>{{ comunidad.direccion.longitud }}</td>
            </tr>
            <tr>
                <td colspan="2"><div id="map"></div></td>
            </tr>
            {% endif %}
            
        </tbody> 
    </table> 

    <a href="{{ path('comunidad_edit', { 'id': comunidad.id }) }}"><input type="button" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} "></a>
  
    <br/><br/>
    <a href="{{ path('comunidad_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>    
    
    {% if comunidad.direccion.latitud is not null and comunidad.direccion.longitud is not null %}    
        <style>
            #map {
                height: 300px;
                width: 100%;
            }
        </style>     

        <script>
            window.onload = function () {
                var ubicacion = {lat: {{ comunidad.direccion.latitud }}, lng: {{ comunidad.direccion.longitud }}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: ubicacion
                });
                var marker = new google.maps.Marker({
                    position: ubicacion,
                    map: map
                });
            }
        </script>
    {% endif %}
    
{% endblock %}
