{% extends 'base.html.twig' %}

{% block page_title %}{{ 'bloque.lista'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}  

    <div class="col-xs-12">                     
        <div class="container">
            <p style="padding:5px;"></p>
            <p>{{ 'bloque.mensaje'|trans({}, 'commiunities')|raw }}</p>
            <p><em><strong>{{ 'bloque.mensaje_importante'|trans({}, 'commiunities') }}:</strong> {{ 'bloque.mensaje_accion'|trans({}, 'commiunities') }}</em></p>
        </div>
    </div>

    <div class="col-xs-12">   
        <p style="padding:5px;"></p>
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">                      
                        <h5><a data-toggle="collapse" href="#collapse"><span class="glyphicon glyphicon-chevron-down"></span> {{ 'equipamiento.detalle'|trans({}, 'commiunities') }}</a></h5> 
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">                           
                            <p><strong>{{ 'comunidades.comunidad'|trans({}, 'commiunities') }}:</strong> {{ equipamiento.comunidad.nombre }}</p>
                            <p><strong>{{ 'equipos.equipo'|trans({}, 'commiunities') }}:</strong>  {{ equipamiento.equipo.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <br/>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'bloque.dia.titulo'|trans({}, 'commiunities') }}</th>
                <th>{{ 'bloque.hora.inicio'|trans({}, 'commiunities') }}</th>
                <th>{{ 'bloque.hora.fin'|trans({}, 'commiunities') }}</th>
                <th>{{ 'bloque.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for bloque in bloques %}
                <tr>
                    <td>
                        {% if bloque.dia == 'LU' %}
                            {{ 'bloque.dia.lunes'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'MA' %}
                            {{ 'bloque.dia.martes'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'MI' %}
                            {{ 'bloque.dia.miercoles'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'JU' %}
                            {{ 'bloque.dia.jueves'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'VI' %}
                            {{ 'bloque.dia.viernes'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'SA' %}
                            {{ 'bloque.dia.sabado'|trans({}, 'commiunities') }}
                        {% endif %}
                        {% if bloque.dia == 'DO' %}
                            {{ 'bloque.dia.domingo'|trans({}, 'commiunities') }}
                        {% endif %}
                    </td>
                    <td>{% if bloque.horainicio %}{{ bloque.horainicio|date('H:i') }}{% endif %}</td>
                    <td>{% if bloque.horafin %}{{ bloque.horafin|date('H:i') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('bloque_show', { 'id': bloque.id, 'ideq': app.request.get('ideq') }) }}"><span class="glyphicon glyphicon-search"></span> {{ 'botones.ver'|trans({}, 'commiunities') }}</a>

                        {% if acciones[bloque.id] == false %}
                            <br/>
                            <a href="{{ path('bloque_edit', { 'id': bloque.id, 'ideq': app.request.get('ideq') }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'botones.editar'|trans({}, 'commiunities') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bloque_new', { 'ideq': app.request.get('ideq') }) }}" class="btn btn-primary btn-md" role="button">
        <span class="glyphicon glyphicon-plus"></span> {{ 'bloque.nuevo'|trans({}, 'commiunities') }}
    </a>

    <br/><br/>
    <a href="{{ path('equipamiento_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.equipamiento'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
