{% extends 'base.html.twig' %}

{% block page_title %}{{ 'bloque.nuevo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}    
    
    <br/>
    <div class="col-xs-12">                     
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">                      
                        <h5><a data-toggle="collapse" href="#collapse"><span class="glyphicon glyphicon-chevron-down"></span> {{ 'equipamiento.detalle'|trans({}, 'commiunities') }}</a></h5> 
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">                           
                            <p><strong>{{ 'comunidades.comunidad'|trans({}, 'commiunities') }}:</strong> {{ equipamiento.comunidad.nombre }}</p>
                            <p><strong>{{ 'equipos.equipo'|trans({}, 'commiunities') }}:</strong>  {{ equipamiento.equipo.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <br/>
  
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value=" {{ 'bloque.crear'|trans({}, 'commiunities') }} " />
    {{ form_end(form) }}

    <br/>
    <a href="{{ path('bloque_index', { 'ideq': app.request.get('ideq') }) }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
