{% extends 'base.html.twig' %}

{% block page_title %}{{ 'bloque.consultar'|trans({}, 'commiunities') }}{% endblock %}

{% block body %} 

    <div class="col-xs-12">                     
        <div class="container">
            <p style="padding:5px;"></p>
            <p><em><strong>{{ 'bloque.mensaje_importante'|trans({}, 'commiunities') }}:</strong> {{ 'bloque.mensaje_accion'|trans({}, 'commiunities') }}</em></p>
        </div>
    </div>

    <div class="col-xs-12">     
        <p style="padding:5px;"></p>
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">                      
                        <h5><a data-toggle="collapse" href="#collapse"><span class="glyphicon glyphicon-chevron-down"></span> {{ 'equipamiento.detalle'|trans({}, 'commiunities') }}</a></h5> 
                    </div>
                    <div id="collapse" class="panel-collapse collapse">
                        <div class="panel-body">                           
                            <p><strong>{{ 'comunidades.comunidad'|trans({}, 'commiunities') }}:</strong> {{ equipamiento.comunidad.nombre }}</p>
                            <p><strong>{{ 'equipos.equipo'|trans({}, 'commiunities') }}:</strong>  {{ equipamiento.equipo.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>
    <br/>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th width=20%>{{ 'bloque.dia.titulo'|trans({}, 'commiunities') }}</th>
                <td width=80%>                    
                    {% if bloque.dia == 'LU' %}
                        {{ 'bloque.dia.lunes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'MA' %}
                        {{ 'bloque.dia.martes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'MI' %}
                        {{ 'bloque.dia.miercoles'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'JU' %}
                        {{ 'bloque.dia.jueves'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'VI' %}
                        {{ 'bloque.dia.viernes'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'SA' %}
                        {{ 'bloque.dia.sabado'|trans({}, 'commiunities') }}
                    {% endif %}
                    {% if bloque.dia == 'DO' %}
                        {{ 'bloque.dia.domingo'|trans({}, 'commiunities') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'bloque.hora.inicio'|trans({}, 'commiunities') }}</th>
                <td>{% if bloque.horainicio %}{{ bloque.horainicio|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'bloque.hora.fin'|trans({}, 'commiunities') }}</th>
                <td>{% if bloque.horafin %}{{ bloque.horafin|date('H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if acciones[bloque.id] == false %}
        {{ form_start(delete_form) }}
        <input type="submit" value=" {{ 'botones.eliminar'|trans({}, 'commiunities') }} " onclick="return confirm(' {{ 'botones.confirmar'|trans({}, 'commiunities') }} ');">
        <a href="{{ path('bloque_edit', { 'id': bloque.id, 'ideq': app.request.get('ideq') }) }}"><input type="button" value=" {{ 'botones.editar'|trans({}, 'commiunities') }} "></a>
            {{ form_end(delete_form) }}
    {% endif %}

    <br/><br/>
    <a href="{{ path('bloque_index', { 'ideq': app.request.get('ideq') }) }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
