{% extends 'base.html.twig' %}

{% block page_title %}{{ 'reservas.lista.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'reservas.comunidad'|trans({}, 'commiunities') }}</th>
                <th>{{ 'reservas.equipo'|trans({}, 'commiunities') }}</th>
                <th>{{ 'reservas.fecha.titulo'|trans({}, 'commiunities') }}</th>
                <th>{{ 'reservas.desde'|trans({}, 'commiunities') }}</th>
                <th>{{ 'reservas.hasta'|trans({}, 'commiunities') }}</th>
                <th>{{ 'reservas.tabla.acciones'|trans({}, 'commiunities') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{% if reserva.comunidad.nombre %}{{ reserva.comunidad.nombre }}{% endif %}</td>
                    <td>{% if reserva.equipamiento.equipo.nombre %}{{ reserva.equipamiento.equipo.nombre }}{% endif %}</td>
                    <td>{% if reserva.fecha %}{{ reserva.fecha|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if reserva.horadesde %}{{ reserva.horadesde|date('H:i') }}{% endif %}</td>
                    <td>{% if reserva.horahasta %}{{ reserva.horahasta|date('H:i') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('reserva_show', { 'id': reserva.id }) }}"><span class="glyphicon glyphicon-search"></span> {{ 'botones.ver'|trans({}, 'commiunities') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="clearfix"></div>
    
{% endblock %}
