{% extends 'base.html.twig' %}

{% block page_title %}{{ 'reservas.consultar.titulo'|trans({}, 'commiunities') }}{% endblock %}

{% block body %}

    <br/>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th width=15%>{{ 'reservas.comunidad'|trans({}, 'commiunities') }}</th>
                <td width=85%>{% if reserva.comunidad %}{{ reserva.comunidad.nombre }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'reservas.equipo'|trans({}, 'commiunities') }}</th>
                <td>{% if reserva.equipamiento %}{{ reserva.equipamiento.equipo.nombre }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'reservas.fecha.titulo'|trans({}, 'commiunities') }}</th>
                <td>{% if reserva.fecha %}{{ reserva.fecha|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'reservas.desde'|trans({}, 'commiunities') }}</th>
                <td>{% if reserva.horadesde %}{{ reserva.horadesde|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'reservas.hasta'|trans({}, 'commiunities') }}</th>
                <td>{% if reserva.horahasta %}{{ reserva.horahasta|date('H:i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <input type="submit" value=" {{ 'botones.eliminar'|trans({}, 'commiunities') }} " onclick="return confirm(' {{ 'botones.confirmar'|trans({}, 'commiunities') }} ');">
    {{ form_end(delete_form) }}

    <br/>
    <a href="{{ path('reserva_index') }}" class="btn btn-md" role="button">
        <span class="glyphicon glyphicon-tasks"></span> {{ 'botones.regresar'|trans({}, 'commiunities') }}
    </a>
{% endblock %}
