{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    
    <section class="form-access">        
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="acceso border">
                    <h2><b>{{ 'commiunities.login.titulo'|trans({}, 'commiunities') }}</b></h2>
                    
                    <br/>
                    {% if error %}
                        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />                    
                    
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="usuario o correo electrónico" required="required" />
                    <input class="form-control" type="password" id="password" name="_password" placeholder="contraseña" required="required" />
                    <button class="button-access" type="submit" id="_submit" name="_submit">{{ 'commiunities.login.boton'|trans({}, 'commiunities') }}</button>
                </div>
                <p class="text-center"><b><a href="{{ path('fos_user_resetting_request') }}" class="hover-access">{{ 'commiunities.login.olvido'|trans({}, 'commiunities') }}</a></b></p>
                <p class="text-center"><b>{{ 'commiunities.login.cuenta'|trans({}, 'commiunities') }} <a href="{{ path('fos_user_registration_register') }}" class="hover-access">{{ 'commiunities.login.registro'|trans({}, 'commiunities') }}</a></b></p>
            </form>
            
            </div>
        </div>       
    </section> 

{% endblock content %}
