{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

    <section>
        <h2 class="text-center texto-princ"><b>{{ 'commiunities.restablecer.titulo'|trans({}, 'commiunities') }}</b></h2> 
        <p align="center">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </section>

{% endblock content %}
