{% block content %}

    <section class="form-access">        
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="acceso border">
                        <h2><b>{{ 'commiunities.restablecer.titulo'|trans({}, 'commiunities') }}</b></h2>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12">
                                {% if invalid_username is defined %}
                                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                                {% endif %}
                            
                                <input type="text" class="form-control" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" required="required" />                                
                                <input type="submit" class="button-access" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>       
    </section> 

{% endblock content %}