{% block content %}

    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p style="padding:5px;">&nbsp;</p>
                <center><h1><b>{{ 'commiunities.restablecer.titulo'|trans({}, 'commiunities') }}</b></h1></center>
                <br/>

                {{ form_widget(form) }}

            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-6 col-md-offset-3">
                <p style="padding:5px;">&nbsp;</p>
                <p><input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" /></p>
            </div>
        </div>
    </form>

{% endblock content %}
